<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<!-- search for Spring beans -->
	<context:component-scan base-package="com.revature"></context:component-scan>
	
	<!-- Set up REST client. -->
	<bean name="requestFactory" class="org.springframework.http.client.SimpleClientHttpRequestFactory"></bean>
	
	<!--  Someone else has written this bean for us, so we just need to register it -->
	<bean name="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="requestFactory" ref="requestFactory"></property>
	</bean>
	
	<!-- Create a bean that models the service that we have available -->
</beans>